/*=======================================

Universal Styling

=========================================*/

* {
  margin:0;
  padding: 0;
  border: 0;
}

h1 {
  font: 36px lato, sans-serif;
  color: #fcb6ca;
}

p {
  font: bolder 18px lato, sans-serif;
  color: white;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

/*=======================================

Header Styling

=========================================*/

header {
  padding: 10px;
  background-color: #88634f;
}

header .container {
  max-width: 1000px;
  margin: 0 auto;
  max-height: 83px;
}

header nav {
  display: inline-block;
  width: 76%;
  color: white;
  position: relative;
  top: -51px;
  padding-left: 323px;
}

header nav li {
  display: inline-block;
  margin: 0 15px;
  font: bolder 16px termina, sans-serif;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

nav li a:hover  {
  color: #fcb6ca;
}

nav li a {
  color: #ffffff;
  text-decoration: none;
}

.logo-container {
  display: inline-block;
  width: 30%;
  position: relative;
}

.bolt {
  position: absolute;
  left: 134px;
  top: 5px;
}

/*===========================================================

Home Page Styling

==========================================================*/

.container section {
  margin: 400px 0 5px 0;
  height: 723px;
}

.current {
  color: #fcb6ca;
}

.welcome {
  max-width: 360px;
  text-align: justify;
}

.first {
  margin-bottom: 10px;
  font-size: 43px;
}

.welcome-content {
  width: 49%;
  display: inline-block;
  vertical-align: top;
}

.hero {
  display: inline-block;
  width: 49%;
}

.wrapper {
  min-height: 100%;
  min-width: 100%;
  background-color: #fcb6ca;
  position: relative;
}

.box-links {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  top: -130px;
  text-align: center;
}

.box {
  position: relative;
  width: 26%;
  height: 355px;
  border-radius: 20px;
  background: #ffffff linear-gradient(360deg, #ffffff 22%, #fcb6ca 60%);
  filter: drop-shadow(0px 2px 2px #cd91a2);
  margin: 60px 20px 0px 20px;
  display: inline-block;
  bottom: 20px;
}

.box-links a {
  color: #ffe8dd;
  text-decoration: none;
}

.box-links a:hover {
  color: #fcb6ca;
}

img.trio {
  position: relative;
  margin: -90px;
  right: 8px;
}

.box-title {
  text-align: center;
  position: relative;
  bottom: 100px;
  margin-top: 30px;
  font: bolder 18px termina, sans-serif;
  text-transform: uppercase;
  color: #ffe8dd;
}

/*=======================================

The Model Page Styling

=========================================*/

.model-bg {
  background-color: #a57e69;
}

.modeling {
  object-fit: cover;
  max-width: 223px;
  max-height: 410px;
  border: solid 2px pink;
  border-radius: 30px;
  padding: 0px;
  margin: 66px 45px -23px 0;
}

.gallery {
  text-align: center;
  margin: -32px 0 0 0;
}

/*=======================================

Chef and Rapper Page Styling

=========================================*/

.different {
  background-color: #88634f;
  padding: 50px 500px;
}

.cook-bg {
  background-color: #88634f;
}

.banner-heading {
  color: white;
  font:99px termina, sans-serif;
  text-transform: uppercase;
  text-align: center;
  padding:44px;
}

.banner-sub {
  color: #88634f;
  font: 24px termina, sans-serif;
  text-transform: uppercase;
  letter-spacing: 9px;
  text-align: center;
  position: relative;
  top: -82px;
  left: 10px;
}

.talent {
  position: relative;
  bottom: 323px;
  left: 1110px;
}

.banner {
  background-color: #fcb6ca;
  width: 100%;
  height: 301px;
}

.food {
  object-fit: cover;
  max-width: 300px;
  max-height: 300px;
  border: solid 2px pink;
  border-radius: 30px;
  padding: 0px;
  margin: 66px 45px -23px 0;
  transition: .3s;
}

.food:hover {
  object-fit: cover;
  max-width: 400px;
  max-height: 400px;
  box-shadow: 4px 24px 19px #6f5243;
  border-radius: 30px;
  padding: 0px;
  margin: 66px 45px -23px 0;
  transition: .3s;
}

/*=======================================

Contact Page Styling

=========================================*/

.container section {
  margin: 40px 0 5px 0;
  height: 498px;
}

.current {
  color: #fcb6ca;
}


.contact {
  max-width: 375px;
}

.contact-content {
  width: 49%;
  display: inline-block;
  vertical-align: top;
}

.hero {
  display: inline-block;
  width: 48%;
}

.hero-image {
  width: 95%;
}

p.special-quote {
  text-align: center;
  width: 100%;
  position: relative;
  bottom: 11px;
  right: -12px;
}

p::first-letter{
  text-transform: capitalize;
}

.signature-center {
  font: italic 28px adobe-handwriting-ernie, sans-serif;
  color: #ffc6ca;
  text-align: center;
}

.signature-right {
  font: italic 28px adobe-handwriting-ernie, sans-serif;
  color: #ffc6ca;
  float: right;
}

.pink {
  padding: 141px;
  background-color: #fcb6ca;
}

.contact-title::after {
  content: 'Melz';
  color: #ffe8dd;
  font: italic 36px adobe-handwriting-ernie, sans-serif;
  padding: 0 0 0 4px;
}

.require::after {
  content: '*';
  color: pink;
}

/*=======================================

Form Styling

=========================================*/

.lighter-bg {
  background-color: #a57e69;
}

.contact-form {
  position: relative;
  bottom: 196px;
  max-width: 511px;
  color: white;
  font-family: lato, sans-serif;
}

.label_input_wrap {
  display: block;
}

.submit input {
  display: inline;
  margin: 10px 0 5px 0;
  padding: 7px 130px 7px 130px;
  border-radius: 10px;
  background: linear-gradient(#ffffff, #fcb6ca);
  font: bolder lato, sans-serif;
  text-transform: uppercase;
  color: #88634F;
}

.submit input:hover {
  background: linear-gradient(#ffffff, #ffe8dd);
}

.submit input:active {
  background: #88634f;
  color: #fcb6ca
}

.input-section {
  margin-bottom: 10px;
}

input {
  padding: 10px 187px 10px 10px;
  border-radius: 4px;
}

textarea::placeholder, input::placeholder {
  color: #88634f;
  font-style: italic;
}

textarea {
  padding: 10px 10px;
  border-radius: 10px;
}
